@model Samurai.Domain.SamuraiBattle

@{
	ViewData["Title"] = "AddToBattle";
}

<h1>Add To Battle</h1>

<h4>Quote</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="AddToBattle">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="SamuraiId" class="control-label"></label>
				<select asp-for="SamuraiId" class="form-control" asp-items="ViewBag.SamuraiId"></select>
			</div>
			<div class="form-group">
				<label asp-for="BattleId" class="control-label"></label>
				<select asp-for="BattleId" class="form-control" asp-items="ViewBag.BattleId"></select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

