@model Samurai.Domain.Samurai

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Samurai</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name.Sur" class="control-label"></label>
				<input asp-for="Name.Sur" class="form-control" />
				<span asp-validation-for="Name.Sur" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name.First" class="control-label"></label>
				<input asp-for="Name.First" class="form-control" />
				<span asp-validation-for="Name.First" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name.Middle" class="control-label"></label>
				<input asp-for="Name.Middle" class="form-control" />
				<span asp-validation-for="Name.Middle" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SecretIdentity.RealName" class="control-label"></label>
				<input asp-for="SecretIdentity.RealName" class="form-control" />
				<span asp-validation-for="SecretIdentity.RealName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Salary.Currency" class="control-label"></label>
				<input asp-for="Salary.Currency" class="form-control" />
				<span asp-validation-for="Salary.Currency" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Salary.Amount" class="control-label"></label>
				<input asp-for="Salary.Amount" class="form-control" />
				<span asp-validation-for="Salary.Amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
